.container {

    width: 100%;
    max-width: 1170px;
    margin: auto;

}

html {
    background: #000000ce;
}

.img1 {
    width: 216px;
    height: 33px;
    padding-top: 46px;
}
.img2{
   

    color: #E4B564;
   
    display: block;
    margin-left: 87%;

}

.a1 {
    text-decoration: none;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    
    text-align: center;
    width: 218px;
  padding: 10px;
 

    margin-top: -33px;
    display: block;
    margin-left: 85%;



}

.subtitle {

    margin-right: auto;
    margin-top: 128px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    width: 599px;
    height: 28px;
    text-align: center;
    color: white;


}

.description {
    width: 1182px;
    height: 56px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    margin-top: 41px;

    color: white;
    margin-left: auto;
}


.grid-body {
    grid-gap: 25px;
    grid-auto-rows: 468px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    display: grid;
    justify-content: center;
    margin-top: 42px;



}


.grid-item1 {
    background: #634F2C;
    text-align: center;
  



}

.grid-item2 {
    grid-column-start: 2;
    grid-column-end: 4;

    background: #B4A385;
    text-align: center;
   


}

.grid-item3 {


    background: #E4B564;

    text-align: center;
   


}

.grid-item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: #635A4A;
    text-align: center;
 


}

.grid-item5 {
    grid-column-start: 3;
    grid-column-end: 5;

    background: #B08C4D;
    text-align: center;
    


}

.grid-link-1 {

    text-decoration: none;
   text-align: center;
  display: block;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;  

    margin-top: 171px;
    color: white;
}

.subtitle-1 {
    color: floralwhite;
    width: 877px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 161px;
}

.body-grid2 {
    margin-top: 94px;
    grid-gap: 25px;

    grid-template-columns: 2fr 2fr 2fr;
    grid-auto-rows: 250px 200px 250px 200px auto;
    display: grid;




}


.grid-item6 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;


    background: #0E0E0E;



}

.grid-item7 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;



    background: #1F1F1F;
}

.grid-item8 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: #1F1F1F;


}

.grid-item9 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-row-start: 2;
    grid-row-end: 4;



    background: #1F1F1F;
}

.grid-item10 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;


    background: #E4B564;
}

.grid-item11 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    background: #0E0E0E;
}

.grid-item12 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    background: #bc0e0e;
    grid-column-start: 3;


    background: #0A0909;

}

.grid-link2 {
    text-decoration: none;
    color: white;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    margin: auto;
    text-align: start;
    display: block;
    width: 302px;
height: 50px;
margin-top: 44px;
}

.subtitle-2{
    margin-top: 363px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
   
}
.body-grid3{
    grid-template-columns: 1fr 1fr 1fr ;
margin-top: 72px;
    display: grid;
    grid-auto-rows: 388px;
    text-align: center;
    margin-bottom: 238px;
  
}
.grid-item13{
    background: #634F2C;
  
    
}
.grid-item14{
    background: rgba(232, 210, 171, 0.76);
    display: block;
  
}
.grid-item15{
    background: #E4B564;
}
.grid-item16{
    background: #635A4A;
}
.grid-item17{
    background: #B08C4D;
}
.grid-item18{
    background: #634F2C;
}


.trust-galleri-image-1{

    width: 190px;
    height: 42px;


}
.trust-gallery-link-1 {
    text-decoration: none;
   text-align: center;
  display: block;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-top: 171px;
    
 
    
    color: #FFFFFF;
}
.trust-gallery-link-2{
  text-decoration: none;
  color: white;

font-family: 'Gilam';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 35px;
text-align: center;


}
.trust-galleri-image-2{


margin-top: 61px;

width: 62px;
height: 55px;
   
}
.trust-galleri-image-3{
display: flex;
margin: auto;
width: 139px;
height: 55px;
}

.span{
    font-family: 'Gilam';
font-style: normal;
font-weight: 100;
font-size: 22px;
line-height: 28px;



}